

<div class="container">

        <mat-card style="margin-top: 10px;">
            <form autocomplete="off" [formGroup]="form" (ngSubmit)="agregarFactura()">
                <mat-grid-list cols="1" rowHeight="60">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="longitud">
                            <mat-label class="color">Cliente</mat-label>
                            <input matInput formControlName="factura">
                        </mat-form-field>
                    </mat-grid-tile>
                    
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="longitud">
                                    <mat-label class="color">Vendedor</mat-label>
                                    <mat-select formControlName="vendedor">
                                      <mat-option *ngFor="let item of vendedor" [value]="item">
                                        {{item}}
                                      </mat-option>
                                    </mat-select>
                            <input matInput>
                        </mat-form-field>
                    </mat-grid-tile>
    
                </mat-grid-list>
            </form>
        </mat-card>
                
            
    <h1 class="color_1">Adicionar Productos</h1>

    
    
    <mat-card style="margin-top: 10px;">
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="agregarFactura()">
            
            <mat-grid-list cols="1" rowHeight="70">
            <img src="../../../assets/img/fondo.jpg" width="30%">
            
                    
                    <mat-grid-tile [colspan]="1" [rowspan]="1">                
                        <mat-form-field class="ancho">
                            <label form="" class="color">Producto</label>
                            <mat-select class="form-control" formControlName="producto">
                                <mat-option *ngFor="let item of producto" [value]="item">
                                    {{item}}
                                </mat-option>                           
                            </mat-select>
                            <input matInput formControlName="producto">
                        </mat-form-field>
                    </mat-grid-tile>


                    <!-- 
                        <mat-option *ngFor="let nombre of producto" [value]="producto">
                                {{producto}}
                                </mat-option>
                    -->


                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="ancho">
                        <mat-label form="" class="color">Cantidad</mat-label>
                        <input type="number" matInput formControlName="cantidad" >
                    </mat-form-field>
                </mat-grid-tile>
                

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label class="color">Precio Unit</mat-label>
                        <input type="number" matInput formControlName="precioUnitario">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="ancho">
                        <mat-label class="color">Precio Total</mat-label>                      
                        <input type="number" matInput formControlName="precioTotal">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <button type="submit" mat-raised-button color="primary">Agregar</button>
                </mat-grid-tile>

                               

            </mat-grid-list>
           

        

        </form>
    
    </mat-card>
</div>


     









